
<?php
$title = 'Add new album';
$this->headTitle($title);
?>

<h1><?= $this->escapeHtml($title) ?></h1>


<?php

//------------------------------------------------CSS------------------------------------
// This provides a default CSS class and placeholder text for the title element:
$album = $form->get('title');
$album->setAttribute('class', 'form-control');
$album->setAttribute('placeholder', 'Album title');

// This provides a default CSS class and placeholder text for the artist element:
$artist = $form->get('artist');
$artist->setAttribute('class', 'form-control');
$artist->setAttribute('placeholder', 'Artist');

// This provides a default CSS class and placeholder text for the artist element:
$genre = $form->get('genre');
$genre->setAttribute('class', 'form-control');
$genre->setAttribute('placeholder', 'Genre');

// This provides CSS classes for the submit button:
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

//------------------------------------------------CSS------------------------------------
$form->setAttribute('action', $this->url('album', ['action' => 'add']));
$form->prepare();

echo $this->form()->openTag($form);
//------------------------------------------------CSS------------------------------------
?>


<div class="form-group">

    <?= $this->formLabel($album) ?>
    <?= $this->formElement($album) ?>
    <?= $this->formElementErrors()->render($album, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($artist) ?>
    <?= $this->formElement($artist) ?>
    <?= $this->formElementErrors()->render($artist, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($genre) ?>
    <?= $this->formElement($genre) ?>
    <?= $this->formElementErrors()->render($genre, ['class' => 'help-block']) ?>
</div>

<?php
//------------------------------------------------CSS------------------------------------
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
//echo $this->formRow($form->get('title'));
//echo $this->formRow($form->get('artist'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();

?>