<?php 

$title = 'My albums';
$this->headTitle($title);
?>

<h1><?= $this->escapeHtml($title)?></h1>
<p>

	<a href="<?= $this->url('album',['action' => 'add']) ?>">Add new album</a>

</p>

<table class="table">
<tr>

	<th>Title</th>
	<th>Artist</th>
    <th>Genre</th>
	<th>&nbsp;</th>

</tr>

<?php foreach ($album as $album) :?>

	<tr>
		
		<td><?= $this->escapeHtml($album->title) ?></td>
		<td><?= $this->escapeHtml($album->artist) ?></td>
        <td><?= $this->escapeHtml($album->genre) ?></td>
		<td>
			<a href="<?= $this->url('album',['action' => 'edit', 'id' => $album->id]) ?>">Edit</a>
			<a href="<?= $this->url('album', ['action' => 'delete', 'id' => $album->id]) ?>">Delete</a>
		</td>
	</tr>
<?php endforeach; ?>
</table>

