<?php
// module/Artist/view/artist/artist/index.phtml:

$title = 'My artists';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('artist', ['action' => 'add']) ?>">Add new artist</a>
</p>

<table class="table">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Genre</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($artist as $artist) : ?>
        <tr>
            <td><?= $this->escapeHtml($artist->firstname) ?></td>
            <td><?= $this->escapeHtml($artist->lastname) ?></td>
            <td><?= $this->escapeHtml($artist->age) ?></td>
            <td><?= $this->escapeHtml($artist->genre) ?></td>
            <td>
                <a href="<?= $this->url('artist', ['action' => 'edit', 'id' => $artist->id]) ?>">Edit</a>
                <a href="<?= $this->url('artist', ['action' => 'delete', 'id' => $artist->id]) ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>